* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: rgba(179, 176, 176, 0.6);
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.8;
    background: #202020;
    margin: 0;
    padding: 0;
}
.headerTop {
    position: absolute;
    z-index: 11;
    width: 100%;
    top: 0;
    left: 0;
}
.fixedMenu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #202020;
    transition: 0.5s;
    padding: 10px 0 0 0;
}

.headerTop .nav {
    margin: 0;
    padding: 15px 0 15px;
    display: inline-block;
    line-height: normal;
    font-size: 100%;
    height: 100%;
}
header {
    text-align: center;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
div {
    display: block;
}



.row {
    margin-left: -15px;
    margin-right: -15px;
}

.mainMenu .navbar {
    min-height: inherit;
    border-radius: 0;
    border: none;
    margin: 0;
}

.mainMenu .navbarDef{
    background-color: transparent;
}

.navbar {
    position: relative;
}

.navbarNav{
    margin: 7.5px 15px;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

ul, li, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: center;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.mainMenu .navbarDef .navbarNav .active a {
    background-color: transparent;
}
.mainMenu .navbarDef .navbarNav li a {
    color: white;
}
.mainMenu nav li a {
    padding: 43px 0 15px;
    margin: 0 14px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    -webkit-transition: color 0.4s;
    transition: 0.4s;
    font-weight: 500;
    font-size: 14px;
}

.navbarNav>li>a {
    padding: 10px 10px;
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.bannerFullscreen {
    background-image:radial-gradient(rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0.87) 100%), url(images/delta-neo-cover-drone.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 100%;
}

.bannerCell {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.banner .container, .banner .bannerStatic, .banner .col-lg-12 {
    height: 100%;
}

.bannerText {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.bannerText h1 {
    letter-spacing: 2.5px;
    position: relative;
    display: inline-block;
    font-size: 40px;
    line-height: 100px;
    color: #e75b1e;
    padding-bottom: 0;
    padding-top: 100px;
    font-family: "Paprika","Roboto Light";
}

h1 {
    font-size: 24px;
}
.bannerText h2 {
    letter-spacing: 2.5px;
    color: gray;
    position: relative;
    font-size: 20px;
    padding-bottom: 25px;
}
.bannerText p {
    font-size: 12px;
    color: gray;
    padding-bottom: 35px;
    margin: 0;
}

a {
    text-decoration: none !important;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.padTop100 {
    padding-top: 70px;
}
.aboutMain {
    background-color: #e6e6e6;
    color: black;
}
.blockTitle {
    color: #e75b1e;
    font-size: 30px;
    font-family: "Paprika","Roboto Light";
    font-weight: bold;
}
.aboutMain h3 {
    font-family: "Paprika","Roboto Light";
    font-weight: 600;
    font-size: 18px;
}
.aboutMain p {
    margin: 0 0 10px;
}
.wrap{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.galContainer {
    padding: 12px;
}

.galItem {
    overflow: hidden;
    padding: 3px;
}
.galItem .box {
    height: 350px;
    overflow: hidden;
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.galItem a:focus{
    outline: none;
}

/*.galItem a:after{*/
/*    content: "\e003";*/
/*    font-family: sans-serif;*/
/*    opacity: 0;*/
/*    background-color: white;*/
/*    position: absolute;*/
/*    right: 3px;*/
/*    left: 3px;*/
/*    top: 3px;*/
/*    bottom: 3px;*/
/*    text-align: center;*/
/*    line-height: 300px;*/
/*    font-size: 20px;*/
/*    -webkit-transition: all 0.5s ease-in-out 0s;*/
/*    -moz-transition: all 0.5s ease-in-out 0s;*/
/*    transition: all 0.5s ease-in-out 0s;*/
/*}*/

.galItem a:hover:after{
    opacity: 1;
}

img {
    border: 0;
    vertical-align: middle;
}

.mainBlog h2 {
    color: white;
}

.textCenter {
    text-align: center;
}
.padBot100 {
    padding-bottom: 100px;
}
.mainBlog{
    background-image: url("images/artLab.jpeg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
}
.mainBlog:before{
    content:'';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.blogBox{
    padding-top: 20px;
    overflow: auto;
}

.blogBlock {
    background-color: white;
    overflow: auto;
    margin-bottom: 20px;
}
.blogImgVidBox{
    float: left;
    width: 50%;
    position: relative;
}
.blogImgVidBox:hover img{
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.blogImgVidBox{
    float: left;
    width: 50%;
    position: relative;
}
.blogImgVidBox img{
    width: 100%;
}

.blogText{
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    padding: 65px 2% 0 2%
}

.blogText p {
    font-size: 12px;
    color: #ccc
}

.blogText h2{
    font-size: 22px;
    line-height: 20px;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px 30px 13px 30px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.blogText h5 {
    font-size: 11px;
    color:#cccccc;
}
.blogBtnV {
    clear: both;
    padding-top: 30px;
    text-align: center;
}
.blogBtnV a{
    background: #e75b1e;
    border: 3px solid #e75b1e;
    color: white;
    min-width: 215px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.blogBtnV a:hover{
    background: none;
}
.padTop70 {
    padding-top: 70px;
}
.padBot70{
    padding-bottom: 170px;
}
.footerSocials {
    margin: 10px 0;
    line-height: 30px;
    padding: 4px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.socialsBox {
    display: table-cell;
    vertical-align: middle;
    margin: 1px 0;
    padding: 4px;
}

.socialsBox li {
    display: inline-block;
    opacity: 1;
    margin-right: 7px;
}
.footerBox{
    background-image:radial-gradient(rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0.87) 100%), url("images/batiTest.jpeg");
    background-color: #111;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 450px;
}

.footerBox .socialCircleBorder{
    background-color: transparent;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: auto;
}
.socialCircleBorder {
    font-size: 20px;
    line-height: 22px;
    margin-right: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
    color: #6f6f6f;
    text-align: center;
}

.footerBoxA h3{
    color: #e75b1e;
    font-size: 24px;
    font-family: "Paprika","Roboto Light";
}

.footerBoxA p{
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    line-height: 25px;
}

.footerBoxB h3 {
    color: #e75b1e;
    font-size: 24px;
    font-family: "Paprika","Roboto Light";
}

.footerBoxB p{
    font-size: 14px;
    font-family: sans-serif;
    color: white;
}
.footerboxB p i{
    font-size: 20px;
    position: relative;
    top: 4px;
    float: left;
    min-width: 20px;
    text-align: center;
}

.footerBoxB p span{
    display: table;
    padding-left: 12px;
    padding-top: 1px;
}

.footerBoxB p a{
    color: white;
}
.smallSection {
    position: relative;
    float: left;
    width: 25%;
    padding-left: 10px;
    display: inline-block;
    padding-bottom: 50px;
}
.copyrightMain{
    background-color: #e75b1e;
    border-top: 2px dotted white;
    text-align: center;
    padding-bottom: 10px;
}

.copyrightMain .copyTitle{
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 14px;
    padding-bottom: 0;
}
h6 {
    color: black;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}